---
import type { CollectionEntry } from "astro:content";
import Footer from "../components/Footer.astro";
import FormattedDate from "../components/FormattedDate.astro";
import Layout from "./layout.astro";
import Header from "../components/Header.astro";

type Props = CollectionEntry<"blog">["data"] & { slug?: string };

const { title, description, pubDate, updatedDate, heroImage, slug } =
  Astro.props;
const ogImage = slug ? `/og/${slug}.png` : undefined;
---

<Layout
  title={title}
  description={description}
  {...ogImage ? { image: ogImage } : {}}
>
  <Header />
  <main class="md:w-[calc(100%-2em)] max-w-full m-0">
    <article>
      <div class="w-full">
        {
          heroImage && (
            <img
              width={1020}
              height={410}
              src={heroImage}
              alt=""
              class="block mx-auto shadow-lg max-h-[410px] object-cover"
            />
          )
        }
      </div>
      <div
        class="md:w-[720px] md:max-w-[calc(100%-2em)] md:mx-auto md:p-4 text-gray-900"
      >
        <div class="mb-8 py-4 text-center leading-none">
          <div class="mb-2 text-gray-600">
            <FormattedDate date={pubDate} />
            {
              updatedDate && (
                <div class="italic">
                  Last updated on <FormattedDate date={updatedDate} />
                </div>
              )
            }
          </div>
          <h1 class="mb-2 font-serif">{title}</h1>
          <hr />
        </div>
        <div
          class="prose prose-sm sm:prose-base lg:prose-lg xl:prose-xl 2xl:prose-2xl mx-auto"
        >
          <slot />
        </div>
      </div>
    </article>
  </main>
  <Footer />
</Layout>
